.headerFooter{
	background: teal;
	height: 6em;
	text-align: center;
	font-size: 2em;
}

div.fixed {
    position: fixed;
    bottom: 150px;
    right: 100px;
    width: 300px;
    border: 3px solid black;
}

h1{
	font-family: Arial black,sans-serif;
	color: White;
	margin: 0;
}
p {
	margin-left: 10px;
	margin-right: 10px;
}

#leftColumn{
	float: left;
	width: 20%;
}

#centerColumn{
	margin-left: 0px;
	margin-right: 0px;
	float: left;
	width: 60%;
}

#rightColumn{
	float: right;
	width: 20%;
}

#bildZ{

	width: 110px;
	min-width: 20px;
	min-height: 20px;
	max-width: 150px;
	max-height: 150px;
	height: auto;
	z-index: -1;
	position: relative;
	top: 29px;
	left: -95px;
}
#bildSmile{
	width: 110px;
	min-width: 20px;
	min-height: 20px;
	max-width: 150px;
	max-height: 150px;
	height: auto;
	z-index: -5;
	position: relative;
	top: 30px;
	left: 30px;
}

#topPos{
	position: relative;
	border: 3px solid black;
	top: 40px;
}

#bottomPos{
	position: relative;
	border: 3px solid black;
	bottom: 40px;
}
#leftPos{
	position: relative;
	border: 3px solid black;
	left: 40px;
}

#rightPos{
	position: relative;
	border: 3px solid black;
	right: 40px;
}

footer{
	clear: both;

}
