<!DOCTYPE html>
<html lang="sv-se">
<head>
	<title>Fixerad</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/1_fix.css">
</head>
<body>
		<nav>
				<a href="../../../index.html"> Hem</a>|
				<b>2. Design med CSS3</b> |
				<b>2.7</b><a href="../../2.7/2.7.html"> Sidlayout </a>|
		</nav>
		<hr>

		<header class="headerFooter">
			<h1>Fixerad sida</h1>
		</header>
				<div id="leftColumn">
						<p>
							Jag använder här float samt clear. Float: för att bestämma hur helementet ska placera sig, man kan även använda float för att få
							element att placera sig bredvid varandra. Clear: med clear gör jag så att det elementet som jag använder clear på placeras efter float elementet.
						</p>
				</div>
				<div id="centerColumn">
						<!-- start slipsum code -->
						<p>
								Yeah, I like animals better than people sometimes... Especially dogs. Dogs are the best. Every time you come home, they act like they haven't seen you in a year.
								And the good thing about dogs... is they got different dogs for different people. Like pit bulls. The dog of dogs. Pit bull can be the right man's best friend...
								or the wrong man's worst enemy. You going to give me a dog for a pet, give me a pit bull. Give me... Raoul. Right, Omar? Give me Raoul.
						</p>
						<p>
								Yeah, I like animals better than people sometimes... Especially dogs. Dogs are the best. Every time you come home, they act like they haven't seen you in a year.
								And the good thing about dogs... is they got different dogs for different people. Like pit bulls. The dog of dogs. Pit bull can be the right man's best friend...
								or the wrong man's worst enemy. You going to give me a dog for a pet, give me a pit bull. Give me... Raoul. Right, Omar? Give me Raoul.
						</p>
						<p>
								Like you, I used to think the world was this great place where everybody lived by the same standards I did, then some kid with a nail showed me I was living in his
								world, a world where chaos rules not order, a world where righteousness is not rewarded. That's Cesar's world, and if you're not willing to play by his rules,
								then you're gonna have to pay the price.
						</p>
						<!-- end slipsum code -->
				</div>
				<div id="rightColumn">
						<p>
								Yeah, I like animals better than people sometimes... Especially dogs. Dogs are the best. Every time you come home, they act like they haven't seen you in a year.
								And the good thing about dogs... is they got different dogs for different people. Like pit bulls. The dog of dogs. Pit bull can be the right man's best friend...
								or the wrong man's worst enemy. You going to give me a dog for a pet, give me a pit bull. Give me... Raoul. Right, Omar? Give me Raoul.
						</p>
				</div>

				<div =id"centerColumn">
						<div id="topPos"><b>Top</b> anger hur mycket under den högsta kansten av objektet som är dens närmaste parent den ska ligga.</div>

						<div id="bottomPos"><b>Bottom</b> anger hur mycket över den lägsta kanten den ska ligga.</div>

						<div id="leftPos"><b>Left</b> anger hur mycket ifrån den vänstra kanten den ska ligga.</div>

						<div id="rightPos"><b>Right</b> anger hur mycket ifrån den högra kanten den ska ligga.</div>
				<div>

		<footer class="footer">
				<h1>Footer</h1>
		</footer>

</body>
</html>
