<!DOCTYPE html>
<html lang="sv-se">
<head>
	<title>Texten flödar mellan flera kolumner</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/CssLayout/kolumn.css">
</head>
<body>
	<nav>
		<a href="../../../index.html"> Hem</a>|
		<b>2. Design med CSS3</b> |
		<b>2.7</b><a href="../../2.7/2.7.html"> Sidlayout </a>|
	</nav>
	<hr>

	<h1>Texten flödar mellan flera kolumner</h1>
	<hr>

		<h3>Exempel:Bestämd bredd på kolumner</h3>

	<div id="columnWidthSet">
		<p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men.
			Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he
			is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance
			and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord
			when I lay My vengeance upon thee.</p>
	</div>
	<hr>

<h3>Exempel: Bestämt antal kolumner:</h3>

	<div id="columnCountSet">
		<p>
			Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
				Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
				Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
				Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
				Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
				Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
				Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
				Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
				Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
				Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>
	</div>
	<br>
</body>
</html>
